:root{
--primary-font-family: 'Roboto', sans-serif;
--secondary-font-family: 'Raleway', sans-serif;
--main-text-color:#212121;
--second-text-color:#757575;
--white-text-color: #FFFFFF;
--accent-color: #2196F3;
--accent-button-color: #188CE8;
--background-color: #2F303A;
--icon-color: #AFB1B8;
--hero-gradient-color: rgba(47, 48, 58, 0.4);
--background-color-icon: #F5F4FA;
--second-backgrounf-color: rgba(255, 255, 255, 0.1);

--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*{
    box-sizing: border-box;
}
body{
    font-family: var(--primary-font-family);
    color: var(--main-text-color);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}
.nav-list list{
      display: flex;
  }
.navigation a.current{
    color: var(--accent-color);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ========= START HEADER ========= */
.logo{
    color: var(--main-text-color);
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-right: 90px;
  }
.logo span{
      color: var(--accent-color);
  }
.navigation{
    font-family: var(--primary-font-family);
    font-weight: 500;
  }
.header{
    border-bottom: 1px solid #ECECEC;
    padding-top: 25px;
    padding-bottom: 25px;
}
.header-container{
    display: flex;
    align-items: center;
  }
.nav-list{
    display: flex;
}
.nav-list-item:not(:last-child){
    margin-right: 50px;
}
.nav-list-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);

    position: relative;

    transition: color 250ms var(--timing-function);
}
.nav-list-link:hover,
.nav-list-link:focus{
    color: var(--accent-color);
}
.nav-list-link::after{
    content: " ";

    position: absolute;
    left: 0;
    bottom: -33px;

    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;

    opacity: 0;
}
.current:after{
    opacity: 1;
}
.contact-links-list{
    display: flex;
    margin-left: auto;
}
.contact-links-list-link{
    display: flex;
    align-items:center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--second-text-color);

    transition: color 250ms var(--timing-function);
}
.contact-links-list-link:hover,
.contact-links-list-link:focus {
    color: var(--accent-color);
}
.contact-icon{
    margin-right:10px;
    fill: var(--second-text-color);

    transition: fill 250ms var(--timing-function);
}
.contact-links-list-link:hover .contact-icon,
.contact-links-list-link:focus .contact-icon{
    fill: var(--accent-color);
}
.contact-links-list-item{
    display: flex;
}
.contact-links-list-item:not(:last-child){
    margin-right: 50px;
}
/* ========= END HEADER ========= */

/* ========= START HERO ========= */
.hero{
    max-width: 1600px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right, var(--hero-gradient-color), var(--hero-gradient-color)), url('../img/bg-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--background-color);
    font-family: var(--primary-font-family);
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title{
    color:var(--white-text-color);
    width: 696px;
    margin: 0px auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.5;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-button{
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color:var(--white-text-color);
    border:0;
    border-radius: 4px;
    cursor: pointer;

    transition: background-color 250ms var(--timing-function);
    }

.hero-button:hover,
.hero-button:focus{
    background-color: var(--accent-button-color);
}
/* ========= END HERO ========= */
/* ========= START MODAL ========= */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    
    opacity: 1;
    transition: opacity 250ms var(--timing-function),
    visibility 250ms var(--timing-function);
}
.is-hidden{
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}
.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.9);
}
.modal{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(1);

    min-width: 528px;
    min-height: 581px;

    background-color: var(--white-text-color);
    transition: transform 250ms var(--timing-function);

}
.modal-button{
    position: absolute;
    display: flex;

    justify-content: center;
    align-items:center;

    width: 30px;
    height: 30px;
    top: 8px;
    right: 8px;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;

    background: var(--white-text-color);
}
.modal-button:hover,
.modal-button:focus{
    background-color: var(--background-color-icon);
}

/* ========= END MODAL ========= */
/* ========= START ABOUT US ========= */
.about{
    font-size: 14px;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px;
}
.about-list{
    display: flex;
}
.about-item{
    width: 270px;
}
.about-item:not(:last-child){
    margin-right: 30px;
}
.about-item-title{
    margin-bottom: 10px;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
}
.about-text-item{
    line-height: 1.71;
    color: var(--second-text-color);
}
.wrap-about-icon{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-bottom: 30px;
    height: 120px;
    background-color: var(--background-color-icon);
}
/* ========= END ABOUT US ========= */

/* ========= START OUR WORK ========= */
.section-service{
    padding-bottom: 94px;
}
.title-theme-dark {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .work-gallery-list{
    display: flex;
    flex-wrap: wrap;
  }
  .work-gallery-item{
    position: relative;
  }
  .work-gallery-item:not(:last-child){
    margin-right: 30px;
  }
  .gallery-title{
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 27px 10px;

    font-size: 14px;
    line-height: 1.15;
    text-align: center;
    text-transform: uppercase;
    color: var(--white-text-color);
    background-color: rgba(47, 48, 58, 0.8);;

}
/* ========= END OUR WORK ========= */

/* ========= START OUR TEAM ========= */
.employees-section{
    background: var(--background-color-icon);
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}
.employees{
    display: flex;
}
.employees-card{
    background: var(--white-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.employees-card:not(:last-child){
    margin-right: 30px;
}
.employee-wrap{
    padding-top: 30px;
    padding-bottom: 30px;
}
.employees-name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    }
.employees-position{
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.18;
    color: var(--second-text-color);
    }
.social-list{
    display: flex;
    justify-content: center;
}
.social-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    
    transition: background-color 250ms var(--timing-function);
}
.social-icon-link:hover,
.social-icon-link:focus{
    background-color:var(--accent-color);
}
.social-icon-item:not(:last-child){
    margin-right: 10px;
}
.social-icon{
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-function);
}
.social-icon-link:hover .social-icon,
.social-icon-link:focus .social-icon{
 fill: var(--white-text-color) ;
}
   
/* ========= END OUR TEAM ========= */
/* ========= START CLIENTS ========= */
.clients{
    padding-top: 94px;
    padding-bottom: 94px;
}
.clients-list{
    display: flex;
}
.clients-list-item{
    width: 170px;
    height: 92px;
}
.clients-list-item:not(:last-child){
    margin-right: 30px;
}
.clients-icon-link{
    width: 100%;
    height: 100%;
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;     

    transition: border 250ms var(--timing-function); 
}
.clients-icon-link:hover,
.clients-icon-link:focus{
    border: 1px solid var(--accent-color);
}
.client-icon{
    width: 106px;
    height: 60px;
    fill: var(--icon-color);

    transition: fill 250ms var(--timing-function);
}
.clients-icon-link:hover .client-icon,
.clients-icon-link:focus .client-icon{
    fill: var(--accent-color);
}

/* ========= END CLIENTS ========= */
/* ========= START FOOTER ========= */
.footer{
    background-color: var(--background-color);
    padding: 60px 0;
}
.footer-container {
    display: flex;
    align-items:baseline;
}
.footer-logo{
    display: inline-block;
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
    margin-bottom: 20px;
}
.footer-logo span{
    color: var(--accent-color);
}
.contact-info{
    font-style: normal;
}
.address-info{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-text-color);
}
.contact-list-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color 250ms var(--timing-function); 
}
.contact-info-list li:not(:last-child){
    margin-bottom: 9px;
}
.contact-list-link:hover,
.contact-list-link:focus{
    color: var(--accent-color);
}

/* ========= FOOTER-ICON ========= */
.footer-second{
    margin-left: 72px;
}
.footer-social-icon-list{
    display: flex;
    }
.footer-social-icon-list li:not(:last-child) {
    margin-right: 10px;
}
.footer-social-icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--second-backgrounf-color);

    transition: background-color 250ms var(--timing-function); 
}
.footer-social-icon-link:hover,
.footer-social-icon-link:focus{
    background-color: var(--accent-color);
}
.footer-social{
    fill: var(--white-text-color);
}
.title{
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--white-text-color);
    margin-bottom: 20px;
    }
/* ========= END FOOTER ========= */
/* ========= START PORTFOLIO ========= */
.hero-portfolio-buttom{
    padding-top: 94px;
    padding-bottom: 94px;
}
.hero-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.modal-btn{
    padding: 6px 22px;
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: var(--main-text-color);

    transition: 
    background-color 250ms var(--timing-function),
    color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus{
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hero-list-item:not(:last-child){
    margin-right: 8px;
}
/* ========= PORTFOLIO PROJECT ========= */
.project-list{
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
}
.project-list-item{
    background: var(--white-text-color);
    margin: 15px;
}
.project-image{
    position: relative;

    overflow: hidden;
}
.project-action{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    background-color: var(--accent-color);
    opacity: 0.9;
    transform: translateY(100%);
    transition: transform 250ms var(--timing-function);
}
.project-list-link:hover .project-action,
.project-list-link:focus .project-action{
    transform: translateY(0);
}
.project-description{
    font-size: 18px;
    line-height: 1.56;
    color: var(--white-text-color);
}
.project-list-link{
    display: block;

    transition: box-shadow 250ms var(--timing-function);
}
.project-list-link:hover, 
.project-list-link:focus{
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
   0px 4px 4px rgba(0, 0, 0, 0.06), 
   1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-wrapp{
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: none; 
}
.project-title{
    margin-top: 0;
    margin-bottom: 4px; 
    color: var(--main-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text{
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}